@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.header{
    margin : 0;
    padding : 0;
}
/* navbar */
.navbar-brand{
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
}
.nav-link{
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color:red !important;
}
.active{
    color : red !important;
}
/* header bg */
.about-top{
    height : 25vh;
    background: url('../images/latest_bg.jpg');
    background-size: 100% 100%;
}
.about-top p{
    margin : 3.5% 0;
    color : white;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 4px 2px 10px rgba(190, 150, 150, 1);
}
@media screen and(max-width : 900px)
{
    .about-top .text{
        font-size:10px;
    }
}
.abt-text{
    line-height: 35px;
    color: rgb(74, 74, 74);
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    word-spacing: 3px;
    text-shadow: 4px 2px 10px rgb(189, 185, 185);
}
/* header */
.m-header p{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 4px 2px 10px rgba(190, 150, 150, 1);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color:rgb(216, 109, 109);
    line-height: 60px;
}

/* Mission */
.m-left{
    line-height: 35px;
    color: rgb(90, 90, 90);
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    word-spacing: 3px;
    text-shadow: 4px 2px 10px rgb(189, 185, 185);
}
#Mission .Quote{
    line-height: 25px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}

/* team */
.row.heading h2 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-shadow: 4px 2px 10px rgba(190, 150, 150, 1);
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.our-webcoderskull .cnt-block:hover {
    background:rgb(255, 255, 255);            
    transform: scale(1.01,1.01);
    opacity: 1;
    box-shadow: -3px 6px 31px 3px rgba(170, 170, 170, 0.75);
    border: 0;
}
.our-webcoderskull .cnt-block{ 
    background: rgb(255, 255, 255);
    border: 2px solid rgb(207, 207, 207);
    text-align: center;
    box-shadow: -3px 6px 31px 3px rgba(241, 229, 229, 0.973);
    transition: transform;
    transition-duration: 0.5s;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.our-webcoderskull .cnt-block p{ 
    line-height: 35px;
    padding : 10px;
    color: rgb(46, 46, 46);
    font-family: sans-serif;
    font-size: 20px;
    word-spacing: 1px;
    text-shadow: 4px 2px 10px rgb(189, 185, 185);
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

/* footer */
#footer{
    background: black;
}
#footer .f-h-text{
    font-size: 24px;
    font-family: 'Cinzel Decorative', cursive;
}
#footer .f1c .f-text{
    font-size: 15px;
    color : whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
#footer .f2c .f-text{
    font-size: 16px;
    color : whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
#footer .f3c ul{
    list-style: none;
    font-family: 'Cinzel Decorative', cursive;
}
#footer .f3c ul li a{
    font-family: 'Courier New', Courier, monospace;
}
#footer .f3c ul li a:link,#footer .f3c ul li a:visited{
    text-decoration: none ;
    color : whitesmoke;
    transition: all 0.8s;
}
#footer .f3c ul li a:hover{
color : red;
font-weight: bolder;
margin-left : 10px;
}
#footer .f-bottom{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}